.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa42;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    sans-serif;
  font-size: 1rem;
  color: #343a40;
  transition: box-shadow 0.3s ease, transform 0.5s ease;
  cursor: pointer;
}
.navigation:hover {
  background-color: #e9ecef;
  color: #495057;
  transform: 0.5s ease-in-out;
  box-shadow: 7px 7px 14px greenyellow;
  transform: scale(1.05);
}
.nav_list {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav_link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  transition: color 0.3s ease;
}
.nav_list li:focus {
  color: #007bff;
}
